@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
header{
    position: sticky;
    z-index: 99;
    width: 100%;
    height: auto;
    background-color: #fff;
    top: 0;
}
#bg{
    /* background-color: #212529; */
    background-color: #35383c;
}